<ion-header>
    <ion-navbar color="openday">
        <ion-title text-center>
            {{ app_name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div text-center>
        <img *ngIf="!imagen" src="assets/imgs/noimage.png" alt="">
        <div *ngIf="imagen">
            <img [src]="imagen">
        </div>
        <div>
            <button (click)="takePicture()" ion-button icon-only color="dark">
                <ion-icon name="camera"></ion-icon>
            </button>
        </div>

        <ion-list>
            <ion-item>
                <ion-label floating>Descripción</ion-label>
                <ion-input [(ngModel)]="descripcion" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <button (click)="crearPost()" ion-button type="button" color="openday" block>Crear Publicación</button>
            </ion-item>
        </ion-list>
    </div>

</ion-content>