page-dashboard {
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
    ion-navbar {
        ion-title {
            font-family: 'Pacifico', cursive;
        }
    }
    ion-content {
        .card {
            .card-content {
                text-align: center;
                ion-icon {
                    font-size: 10rem;
                }
            }
        }
    }
}